*-min.js
*.bpmn2d
*.iml
*.log
*.log.*
.bpmn
.buildpath
.checkstyle
.classpath
.idea
.project
.settings
.xml
bin
logs
build
target
*/node/*
nodejs/*
rebel.xml
docs/_build
/.vscode/settings.json
.DS_Store
