# for sphinx-rtd-theme==1.1.1 to work
docutils==0.17.1
Sphinx==5.3.0
sphinx-copybutton==0.5.1
sphinx-rtd-theme==1.1.1

# useful
sphinx-togglebutton==0.3.2
sphinx_design==0.3.0

# for vscode html preview
esbonio
